<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
        <a href="http://www.sbcc.edu/security/files/sbcc_campusmap.pdf">Humanities Building - Room 245</a><br>
        Phone: (805) 965-0581 extension 2401<br>
        <a href="http://www.sbcc.edu/computerscience/">Santa Barbara City College Computer Science</a><br>
	<a href="https://github.com/sbcccs">
	  <i class="fa fa-github" aria-hidden="true"></i>  Github
	</a></p>
      </div>
    </div>
  </div>

  <script src="https://use.fontawesome.com/0518483f18.js"/>

</footer>
